In [1]:
!pip3 install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import numpy as np
import pandas as pd

In [3]:
df_fact = pd.read_csv('../Dataset/Retail-Transactional-Dataset.csv')

In [4]:
pd.set_option('display.max_columns', None)
df_fact.head()

,Transaction_ID,Customer_ID,Name,Email,Phone,Address,City,State,Zipcode,Country,Age,Gender,Income,Customer_Segment,Date,Year,Month,Time,Total_Purchases,Amount,Total_Amount,Product_Category,Product_Brand,Product_Type,Feedback,Shipping_Method,Payment_Method,Order_Status,Ratings,products
0,8691788.0,37249.0,Michelle Harrington,Ebony39@gmail.com,1.414787e+09,3959 Amanda Burgs,Dortmund,Berlin,77985.0,Germany,21.0,Male,Low,Regular,9/18/2023,2023.0,September,22:03:55,3.0,108.028757,324.086270,Clothing,Nike,Shorts,Excellent,Same-Day,Debit Card,Shipped,5.0,Cycling shorts
1,2174773.0,69749.0,Kelsey Hill,Mark36@gmail.com,6.852900e+09,82072 Dawn Centers,Nottingham,England,99071.0,UK,19.0,Female,Low,Premium,12/31/2023,2023.0,December,8:42:04,2.0,403.353907,806.707815,Electronics,Samsung,Tablet,Excellent,Standard,Credit Card,Processing,4.0,Lenovo Tab
2,6679610.0,30192.0,Scott Jensen,Shane85@gmail.com,8.362160e+09,4133 Young Canyon,Geelong,New South Wales,75929.0,Australia,48.0,Male,Low,Regular,4/26/2023,2023.0,April,4:06:29,3.0,354.477600,1063.432799,Books,Penguin Books,Children's,Average,Same-Day,Credit Card,Processing,2.0,Sports equipment
3,7232460.0,62101.0,Joseph Miller,Mary34@gmail.com,2.776752e+09,8148 Thomas Creek Suite 100,Edmonton,Ontario,88420.0,Canada,56.0,Male,High,Premium,5/8/2023,2023.0,May,14:55:17,7.0,352.407717,2466.854021,Home Decor,Home Depot,Tools,Excellent,Standard,PayPal,Processing,4.0,Utility knife
4,4983775.0,27901.0,Debra Coleman,Charles30@gmail.com,9.098268e+09,5813 Lori Ports Suite 269,Bristol,England,48704.0,UK,22.0,Male,Low,Premium,1/10/2024,2024.0,January,16:54:07,2.0,124.276524,248.553049,Grocery,Nestle,Chocolate,Bad,Standard,Cash,Shipped,1.0,Chocolate cookies

In [5]:
df_fact.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302010 entries, 0 to 302009
Data columns (total 30 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Transaction_ID    301677 non-null  float64
 1   Customer_ID       301702 non-null  float64
 2   Name              301628 non-null  object
 3   Email             301663 non-null  object
 4   Phone             301648 non-null  float64
 5   Address           301695 non-null  object
 6   City              301762 non-null  object
 7   State             301729 non-null  object
 8   Zipcode           301670 non-null  float64
 9   Country           301739 non-null  object
 10  Age               301837 non-null  float64
 11  Gender            301693 non-null  object
 12  Income            301720 non-null  object
 13  Customer_Segment  301795 non-null  object
 14  Date              301651 non-null  object
 15  Year              301660 non-null  float64
 16  Month             301737 non-null  object
 17  Time              301660 non-null  object
 18  Total_Purchases   301649 non-null  float64
 19  Amount            301653 non-null  float64
 20  Total_Amount      301660 non-null  float64
 21  Product_Category  301727 non-null  object
 22  Product_Brand     301729 non-null  object
 23  Product_Type      302010 non-null  object
 24  Feedback          301826 non-null  object
 25  Shipping_Method   301673 non-null  object
 26  Payment_Method    301713 non-null  object
 27  Order_Status      301775 non-null  object
 28  Ratings           301826 non-null  float64
 29  products          302010 non-null  object
dtypes: float64(10), object(20)
memory usage: 69.1+ MB

In [7]:
for col in df_fact.columns:
    print(col, ' ', df_fact[col].nunique(), ' ', list(df_fact[df_fact[col].duplicated() == False][col].head(10)))

Transaction_ID   294461   [8691788.0, 2174773.0, 6679610.0, 7232460.0, 4983775.0, 6095326.0, 5434096.0, 2344675.0, 4155845.0, 4926148.0]
Customer_ID   86766   [37249.0, 69749.0, 30192.0, 62101.0, 27901.0, 41289.0, 97285.0, 26603.0, 80175.0, 31878.0]
Name   159390   ['Michelle Harrington', 'Kelsey Hill', 'Scott Jensen', 'Joseph Miller', 'Debra Coleman', 'Ryan Johnson', 'Erin Lewis', 'Angela Fields', 'Diane Clark', 'Lori Bell']
Email   52897   ['Ebony39@gmail.com', 'Mark36@gmail.com', 'Shane85@gmail.com', 'Mary34@gmail.com', 'Charles30@gmail.com', 'Haley12@gmail.com', 'Arthur76@gmail.com', 'Tanya94@gmail.com', 'Martin39@gmail.com', 'Jessica33@gmail.com']
Phone   299295   [1414786801.0, 6852899987.0, 8362160449.0, 2776751724.0, 9098267635.0, 3292677006.0, 1578355423.0, 3668096144.0, 6219779557.0, 6004895059.0]
Address   299329   ['3959 Amanda Burgs', '82072 Dawn Centers', '4133 Young Canyon', '8148 Thomas Creek Suite 100', '5813 Lori Ports Suite 269', '532 Ashley Crest Suite 014', '600 Brian Prairie Suite 497', '237 Young Curve', '8823 Mariah Heights Apt. 263', '6225 William Lodge']
City   130   ['Dortmund', 'Nottingham', 'Geelong', 'Edmonton', 'Bristol', 'Brisbane', 'Kitchener', 'Munich', 'Wollongong', 'Cologne']
State   54   ['Berlin', 'England', 'New South Wales', 'Ontario', 'Virginia', 'Nevada', 'Colorado', 'Arkansas', 'Texas', 'Oklahoma']
Zipcode   93978   [77985.0, 99071.0, 75929.0, 88420.0, 48704.0, 74430.0, 47545.0, 86862.0, 39820.0, 64317.0]
Country   5   ['Germany', 'UK', 'Australia', 'Canada', 'USA', nan]
Age   53   [21.0, 19.0, 48.0, 56.0, 22.0, 58.0, 29.0, 46.0, 25.0, 64.0]
Gender   2   ['Male', 'Female', nan]
Income   3   ['Low', 'High', 'Medium', nan]
Customer_Segment   3   ['Regular', 'Premium', 'New', nan]
Date   366   ['9/18/2023', '12/31/2023', '4/26/2023', '5/8/2023', '1/10/2024', '9/21/2023', '6/26/2023', '3/24/2023', '1/6/2024', '10/4/2023']
Year   2   [2023.0, 2024.0, nan]
Month   12   ['September', 'December', 'April', 'May', 'January', 'June', 'March', 'October', 'July', 'November']
Time   83677   ['22:03:55', '8:42:04', '4:06:29', '14:55:17', '16:54:07', '23:24:27', '13:35:51', '10:12:56', '14:38:26', '22:27:40']
Total_Purchases   10   [3.0, 2.0, 7.0, 4.0, 1.0, 8.0, 10.0, 9.0, 6.0, 5.0]
Amount   299297   [108.0287567, 403.3539073, 354.4775997, 352.4077173, 124.2765245, 296.2918059, 315.0576476, 46.58807038, 328.8393017, 397.6112295]
Total_Amount   299305   [324.08627, 806.7078147, 1063.432799, 2466.854021, 248.5530491, 1185.167224, 630.1152951, 46.58807038, 2630.714413, 3976.112295]
Product_Category   5   ['Clothing', 'Electronics', 'Books', 'Home Decor', 'Grocery', nan]
Product_Brand   18   ['Nike', 'Samsung', 'Penguin Books', 'Home Depot', 'Nestle', 'Apple', 'Zara', 'Random House', 'Coca-Cola', 'Adidas']
Product_Type   33   ['Shorts', 'Tablet', "Children's", 'Tools', 'Chocolate', 'Television', 'Shirt', 'Decorations', 'Non-Fiction', 'Water']
Feedback   4   ['Excellent', 'Average', 'Bad', 'Good', nan]
Shipping_Method   3   ['Same-Day', 'Standard', 'Express', nan]
Payment_Method   4   ['Debit Card', 'Credit Card', 'PayPal', 'Cash', nan]
Order_Status   4   ['Shipped', 'Processing', 'Pending', 'Delivered', nan]
Ratings   5   [5.0, 4.0, 2.0, 1.0, 3.0, nan]
products   318   ['Cycling shorts', 'Lenovo Tab', 'Sports equipment', 'Utility knife', 'Chocolate cookies', 'QLED TV', 'Dress shirt', 'Dark chocolate', 'Candles', 'Screwdriver set']

In [8]:
df_fact.nunique()

Transaction_ID      294461
Customer_ID          86766
Name                159390
Email                52897
Phone               299295
Address             299329
City                   130
State                   54
Zipcode              93978
Country                  5
Age                     53
Gender                   2
Income                   3
Customer_Segment         3
Date                   366
Year                     2
Month                   12
Time                 83677
Total_Purchases         10
Amount              299297
Total_Amount        299305
Product_Category         5
Product_Brand           18
Product_Type            33
Feedback                 4
Shipping_Method          3
Payment_Method           4
Order_Status             4
Ratings                  5
products               318
dtype: int64

In [10]:
def calc_null_rate(df):
    new_df = df.isnull().sum().to_frame('null_count')
    new_df[['null_rate']] = new_df[['null_count']] / len(df)
    return new_df.sort_values(by = ['null_count'], ascending = False)

In [11]:
calc_null_rate(df_fact)

                  null_count  null_rate
Name                     382   0.001265
Phone                    362   0.001199
Total_Purchases          361   0.001195
Date                     359   0.001189
Amount                   357   0.001182
Year                     350   0.001159
Total_Amount             350   0.001159
Time                     350   0.001159
Email                    347   0.001149
Zipcode                  340   0.001126
Shipping_Method          337   0.001116
Transaction_ID           333   0.001103
Gender                   317   0.001050
Address                  315   0.001043
Customer_ID              308   0.001020
Payment_Method           297   0.000983
Income                   290   0.000960
Product_Category         283   0.000937
State                    281   0.000930
Product_Brand            281   0.000930
Month                    273   0.000904
Country                  271   0.000897
City                     248   0.000821
Order_Status             235   0.000778
Customer_Segment         215   0.000712
Feedback                 184   0.000609
Ratings                  184   0.000609
Age                      173   0.000573
Product_Type               0   0.000000
products                   0   0.000000

In [7]:
df_customer = df_fact[['Customer_ID', 'Name', 'Email', 'Phone', 'City', 'State', 'Zipcode',	'Country', 'Age', 'Gender', 'Income', 'Customer_Segment']]

In [16]:
df_fact.columns

Index(['Transaction_ID', 'Customer_ID', 'Name', 'Email', 'Phone', 'Address',
       'City', 'State', 'Zipcode', 'Country', 'Age', 'Gender', 'Income',
       'Customer_Segment', 'Date', 'Year', 'Month', 'Time', 'Total_Purchases',
       'Amount', 'Total_Amount', 'Product_Category', 'Product_Brand',
       'Product_Type', 'Feedback', 'Shipping_Method', 'Payment_Method',
       'Order_Status', 'Ratings', 'products'],
      dtype='object')

In [16]:
df_fact[df_fact['Email'] == 'Heather81@gmail.com']

,Transaction_ID,Customer_ID,Name,Email,Phone,Address,City,State,Zipcode,Country,Age,Gender,Income,Customer_Segment,Date,Year,Month,Time,Total_Purchases,Amount,Total_Amount,Product_Category,Product_Brand,Product_Type,Feedback,Shipping_Method,Payment_Method,Order_Status,Ratings,products
12860,3214261.0,48022.0,Dale Mann,Heather81@gmail.com,3.128144e+09,850 Sheppard Knoll,Portsmouth,England,86969.0,UK,19.0,Male,Medium,Regular,8/9/2023,2023.0,August,2:13:31,3.0,179.863595,539.590785,Home Decor,Bed Bath & Beyond,Kitchen,Average,Standard,PayPal,Delivered,2.0,Refrigerator
65240,9374857.0,78896.0,James Gill,Heather81@gmail.com,3.903642e+09,950 Conley Pine,Hobart,New South Wales,86056.0,Australia,20.0,Male,Low,Premium,1/10/2024,2024.0,January,0:31:31,9.0,467.839149,4210.552345,Clothing,Zara,Jeans,Excellent,Standard,Cash,Processing,4.0,Wide-leg jeans
67010,9503546.0,56518.0,Jennifer Baker,Heather81@gmail.com,7.397548e+09,162 William Field Apt. 372,Barrie,Ontario,19652.0,Canada,20.0,Male,Low,New,4/18/2023,2023.0,April,14:53:11,2.0,397.150356,794.300711,Clothing,Zara,Shirt,Average,Standard,Credit Card,Shipped,2.0,Blouse
78879,3255886.0,78316.0,Christopher Schneider,Heather81@gmail.com,3.782797e+09,8113 Alvarado Glens,Chicago,Connecticut,94893.0,USA,34.0,Male,Medium,Regular,6/5/2023,2023.0,June,19:21:52,6.0,97.114331,582.685987,Grocery,Coca-Cola,Water,Excellent,Same-Day,Cash,Shipped,5.0,Purified water
90454,7719416.0,67638.0,Renee Tucker,Heather81@gmail.com,7.105382e+09,70205 Matthew Land,Chicago,Connecticut,47429.0,USA,34.0,Female,Medium,Regular,6/14/2023,2023.0,June,7:32:24,9.0,343.385611,3090.470502,Grocery,Pepsi,Water,Good,Same-Day,PayPal,Shipped,4.0,Spring water
95404,8967025.0,78220.0,Kevin Rivera,Heather81@gmail.com,5.396684e+09,005 Williams Drive Suite 033,London,England,2982.0,UK,46.0,Male,Low,Regular,12/1/2023,2023.0,December,7:25:42,6.0,21.056366,126.338194,Home Decor,Home Depot,Furniture,Average,Standard,Debit Card,Shipped,2.0,Dresser
112586,2278818.0,51524.0,Tyler Morris,Heather81@gmail.com,8.443556e+09,535 Reynolds Pine,Tucson,Tennessee,37682.0,USA,46.0,Female,Low,Regular,6/2/2023,2023.0,June,17:05:21,4.0,64.544012,258.176049,Grocery,Nestle,Snacks,Excellent,Express,Debit Card,Processing,5.0,Pretzels
124122,5418933.0,16452.0,Sean Collins,Heather81@gmail.com,9.108735e+09,457 Bennett Extensions Suite 029,Plymouth,England,28950.0,UK,55.0,Female,Low,New,8/20/2023,2023.0,August,0:22:44,5.0,484.937240,2424.686201,Books,HarperCollins,Fiction,Excellent,Standard,Debit Card,Delivered,5.0,Historical fiction
132160,2566421.0,12606.0,Jessica French,Heather81@gmail.com,3.065099e+09,82089 Valerie Trafficway,San Antonio,Wyoming,82691.0,USA,26.0,Male,Low,Premium,5/29/2023,2023.0,January,1:12:21,9.0,306.518619,2758.667566,Clothing,Nike,Shorts,Good,Express,Credit Card,Delivered,4.0,Athletic shorts
147205,9573715.0,84461.0,Ariel Gilbert,Heather81@gmail.com,6.456865e+09,35866 Aaron Fall Suite 125,San Francisco,Maine,38389.0,USA,26.0,Male,High,Regular,8/24/2023,2023.0,January,18:05:17,6.0,196.389613,1178.337676,Clothing,Zara,Shirt,Excellent,Standard,Cash,Delivered,5.0,Flannel shirt
149356,4411773.0,50051.0,Kimberly Rivers,Heather81@gmail.com,7.402725e+09,411 Stanley Lake,San Francisco,Maine,98727.0,USA,26.0,Female,High,Regular,2/6/2024,2024.0,January,16:50:19,3.0,30.405659,91.216977,Home Decor,Bed Bath & Beyond,Bathroom,Good,Standard,PayPal,Delivered,4.0,Bathtub
151584,4552870.0,12091.0,Michelle Harrington,Heather81@gmail.com,1.974775e+09,54860 Michael Extension Suite 720,San Francisco,Maine,80807.0,USA,23.0,Male,High,Regular,1/14/2024,2024.0,January,7:01:42,3.0,22.290993,66.872979,Grocery,Coca-Cola,Water,Bad,Standard,Debit Card,Pending,1.0,Alkaline water
164520,1175031.0,80367.0,Paul Davis,Heather81@gmail.com,9.450207e+09,345 Kim Hollow,New York,Kansas,80742.0,USA,23.0,Female,Medium,New,4/11/2023,2023.0,April,14:50:27,4.0,46.611033,186.444131,Books,Random House,Literature,Good,Express,PayPal,Shipped,3.0,Poetry
164945,2381735.0,57047.0,Jerry Turner,Heather81@gmail.com,7.787935e+09,98895 Bender Circle,New York,Kansas,6077.0,USA,23.0,Female,Medium,New,2/22/2024,2024.0,February,21:24:51,10.0,464.788378,4647.883777,Grocery,Nestle,Snacks,Excellent,Express,Credit Card,Delivered,5.0,Nuts
168495,3905420.0,88280.0,Rhonda Pierce,Heather81@gmail.com,2.892429e+09,21683 Simmons Stream Apt. 677,El Paso,Kentucky,40688.0,USA,58.0,Male,Medium,New,10/2/2023,2023.0,July,7:28:16,8.0,165.667022,1325.336176,Electronics,Sony,Headphones,Average,Express,Debit Card,Delivered,2.0,Wireless headphones
218006,9081380.0,36812.0,Madison Meyer,Heather81@gmail.com,2.852329e+09,2921 Taylor Bypass,Halifax,Ontario,65365.0,Canada,21.0,Male,High,Regular,8/25/2023,2023.0,August,17:43:30,8.0,467.409577,3739.276619,Books,HarperCollins,Fiction,Excellent,Standard,Credit Card,Processing,4.0,Fantasy
220324,4287092.0,24079.0,Jason Jones,Heather81@gmail.com,6.442948e+09,5845 Parsons Drives,Mackay,New South Wales,15703.0,Australia,22.0,Male,Low,New,3/14/2023,2023.0,August,12:01:42,2.0,153.102518,306.205036,Grocery,Coca-Cola,Juice,Excellent,Same-Day,PayPal,Processing,4.0,Pineapple juice
224196,3695367.0,75687.0,Brian Foster,Heather81@gmail.com,7.781026e+09,2793 Amy Curve Suite 815,Montreal,Ontario,9354.0,Canada,38.0,Female,Low,Premium,4/14/2023,2023.0,NaN,19:38:22,2.0,292.385348,584.770697,Clothing,Nike,T-shirt,Excellent,Same-Day,PayPal,Shipped,5.0,V-neck tee
225507,4825667.0,42233.0,Caroline Hampton,Heather81@gmail.com,9.995085e+09,0019 Rivera Valleys,Phoenix,West Virginia,24746.0,USA,24.0,Male,Low,Premium,11/14/2023,2023.0,November,21:59:39,8.0,91.622613,732.980905,Clothing,Zara,Jeans,Excellent,Standard,Credit Card,Shipped,4.0,Boyfriend jeans
230122,9398021.0,84694.0,Mr. Ryan Mendoza,Heather81@gmail.com,8.243779e+09,31642 Joseph Flats,Townsville,New South Wales,37921.0,Australia,55.0,Female,Low,New,7/1/2023,2023.0,July,5:56:34,6.0,378.717456,2272.304733,Electronics,Samsung,Television,Excellent,Same-Day,Debit Card,Processing,5.0,LED TV
242432,5501464.0,44689.0,Justin Vasquez,Heather81@gmail.com,7.942193e+09,6587 Nelson Spur Suite 535,Bristol,England,76949.0,UK,49.0,Male,Medium,Premium,4/10/2023,2023.0,April,21:46:30,1.0,127.956801,127.956801,Home Decor,Home Depot,Decorations,Excellent,Express,Debit Card,Pending,5.0,Mirrors

In [26]:
df_fact['products'].nunique()

318